<div class="row">
  <div class="col-md-12">
    <nb-card class="inline-form-card">
      <nb-card-header>{{'compteur.form' | translate}}</nb-card-header>
      <nb-card-body>
        <form novalidate [formGroup]="form" (ngSubmit)="onSubmit()" class="form-inline">
          <input type="text" formControlName="label" class="form-control col-md-4" placeholder="{{'common.label' | translate}}">
          <input type="text" formControlName="description" class="form-control col-md-4" placeholder="{{'common.description' | translate}}">
          <select class="form-control col-md-2" formControlName="uniteCompteur" [compareWith]="byUniteCompteurId">
            <option *ngFor="let element of uniteCompteurs" [ngValue]="element">
                {{ element.label }} ({{ element.description }})
            </option>
          </select>
          <button type="submit" [disabled]="!form.valid" class="btn btn-primary">{{'common.btn.save' | translate}}</button>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <nb-card class="full-width">
      <nb-card-header>
        {{'compteur.list' | translate}}
      </nb-card-header>
      <nb-card-body>
        <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)"
          (userRowSelect)="onUserRowSelect($event)">
        </ng2-smart-table>
      </nb-card-body>
    </nb-card>
  </div>
</div>